    .expert {
        min-height: 890px;
        background: url(../../img/backgaraund2.jpg)center (center/cover) no-repeat;
        .title {
            font-size: 30px;
            line-height: 36px;
            color: #ffffff;
            font-weight: 900;
            text-align: center;
            padding: 77px;
        }
        &__tabs {
            margin-top: 29px;
            min-width: 845px;
            height: 67px;
            list-style-type: none;
            display: flex;
            border: 2px solid #d0d0d0;
        }
        &__tab {
            margin-left: 23px;
            width: 160px;
            height: 65px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 65px;
            cursor: pointer;
            transition: 0.5s all;
            &:hover {
                box-shadow: 3px 3px 20px $main-color;
                border: none;
            }
            &_active {
                color: $main-color;
                border: none;
            }
        }
    }