footer {
    height: 463px;
    background-color: $main-color;
    .wrapper {
        display: flex;
        padding: 43px 39px;
    }
    .item {
        width: 383px;
        height: 330px;
        margin: 0 auto;
        img {
            padding: 19px;
        }
    }
    /*   .item {
        width: 357px;
        height: 330px;
        margin-right: 50px;
    } */
    .box {
        width: 130px;
        height: 159px;
        margin-right: 10px;
    }
    .title {
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        font-weight: 700px;
    }
    .descr {
        font-size: 14px;
        line-height: 19px;
        color: #ffffff;
        font-weight: 200;
    }
    .divider {
        width: 1200px;
        height: 2px;
        background-color: #53def7;
        margin: -50px 0 0 34px;
    }
    .info {
        font-size: 13px;
        line-height: 17px;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
        padding: 39px 33px;
    }
}