.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        line-height: 20px;
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
    }
    &__phone {
        line-height: 20px;
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        margin-bottom: 38px;
        text-decoration: none;
        &:hover {
            color: #ffffff;
            font-size: 21px;
        }
    }
    &__social {
        margin-left: 50px;
    }
    &__social-item {
        margin: 0 10px;
    }
}