.header {
    min-height: 86px;
    &__item {
        padding-bottom: 10;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            margin-top: -18px;
        }
    }
    &__title {
        padding: 18px 18px 0;
        font-size: 14px;
        line-height: 18px;
        color: #242424;
        font-weight: 700;
    }
    &__subtitle {
        padding: 0 18px 0;
        font-size: 9px;
        line-height: 18px;
        color: #242424;
        font-weight: 300;
    }
}