.promo {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 707px;
    background: url(../img/backgraund.jpg) center (center/cover) no-repeat;
    &__logo {
        margin-top: 35px;
    }
    &__wrapper {
        padding: 14px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        width: 50%;
    }
    .menu {
        display: block;
        top: 60px;
        position: absolute;
        left: 560px;
        justify-content: space-between;
        color: #ffffff;
        &_item {
            display: inline;
        }
        &_link {
            display: inline-block;
            margin-right: 26px;
            color: #ffffff
        }
    }
    &__text {
        margin-top: -121px;
        font-size: 35px;
        line-height: 48px;
        color: #ffffff;
        font-weight: 900;
    }
    &__descr {
        margin-top: 32px;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 400;
    }
    &__btn {
        margin-top: 32px;
        width: 242px;
        height: 58px;
        filter: drop-shadow(0 0 3.5px rgba(0, 0, 0, 0.07));
        background-color: #00c2f0;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 700;
    }
    .carousel {
        padding: 24px 0;
    }
}